.bottom-right-panel {
    background-color: red;
    border-bottom-left-radius: 200px;
    width: 100px;
    height: 100px;
}
.bottom-right-panel {
    background-color: red;
    border-bottom-left-radius: 200px;
    width: 100px;
    height: 100px;
}
.bottom-right-panel {
    background-color: red;
    border-bottom-left-radius: 200px;
    width: 100px;
    height: 100px;
}
.bottom-left-panel {
    background-color: red;
    border-bottom-left-radius: 200px;
    width: 100px;
    height: 100px;
}

.red {
    background-color: red;
}
.green {
    background-color: red;
}
.blue {
    background-color: red;
}
.puple {
    background-color: red;
}