.bottom-right-panel {
    background-color: red;
    border-bottom-right-radius: 200px;
    width: 100px;
    height: 100px;
}
.bottom-left-panel {
    background-color: green;
    border-bottom-left-radius: 200px;
    width: 100px;
    height: 100px;
}
.top-right-panel {
    background-color: blue;
    border-top-right-radius: 200px;
    width: 100px;
    height: 100px;
}
.top-left-panel {
    background-color: purple;
    border-top-left-radius: 200px;
    width: 100px;
    height: 100px;
}

.red {
    background-color: red;
}
.green {
    background-color: red;
}
.blue {
    background-color: red;
}
.purple {
    background-color: red;
}